grammaire/Corpus.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT root (arbre)+>
<!ATTLIST root
  xmlns CDATA #FIXED ''>

<!ELEMENT arbre (mot)+>
<!ATTLIST arbre
  xmlns CDATA #FIXED ''
  id CDATA #REQUIRED>

<!ELEMENT mot (token)+>
<!ATTLIST mot
  xmlns CDATA #FIXED ''
  pos CDATA #REQUIRED>

<!ELEMENT token (#PCDATA)>
<!ATTLIST token
  xmlns CDATA #FIXED ''>
