grammaire/Corpus.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="root">
      <oneOrMore>
        <element name="arbre">
          <attribute name="id">
            <data type="integer"/>
          </attribute>
          <oneOrMore>
            <element name="mot">
              <attribute name="pos"/>
              <oneOrMore>
                <element name="token">
                  <text/>
                </element>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
